body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f5;
}

header {
    background-color: #092268;
    color: white;
    padding: 10px 20px;
    text-align: center;
    background-image: none;
}

header nav a {
    margin: 0 15px;
    color: white;
    text-decoration: none;
}

header nav a:hover {
    text-decoration: underline;
}

main {
    padding: 100px;
}

main img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    margin: 10px 0;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #092268;
    color: white;
    position: relative;
    width: 100%;
    bottom: 0;
}

/* Botão de voltar ao topo */
#back-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: none;
    background-color: #971e1e;
    color: white;
    border: none;
    border-radius: 50%;
    padding: 10px 15px;
    cursor: pointer;
    font-size: 18px;
}

#back-to-top:hover {
    background-color: #2a6b6b;
}

/* Modal */
.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal-content {
    position: relative;
    max-width: 90%;
    max-height: 90%;
}

.modal-content img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

.modal-content .close {
    position: absolute;
    top: 10px;
    right: 20px;
    color: white;
    font-size: 30px;
    font-weight: bold;
    cursor: pointer;
}
.botaofooter {
    background-color: #c22f3b;
    color: white;
    padding: 10px 20px;
    text-align: center;
    border: #c22f3b;
    border-radius: 8%;
}

.gallery {
    
    position:relative;
    top: 60;
    left: 100;
    width: 250;
    height: 300;
    margin: 5px;
    transition: transform 0.3s, box-shadow 0.3s;

}
.highlight {
  border: 5px solid #c22f3b;  /* borda vermelha */
  box-shadow: 0 0 15px rgba(194, 47, 59, 0.8); /* brilho vermelho */
  transform: scale(1.05); /* leve zoom */
  transition: all 0.9s ease; /* animação suave */
}

.profile-info {
    width: 1000px;
    height: 1000px;
    border-radius: 1%;
    object-fit: cover;
    margin-bottom: 100px;
    background: #092268;
    text-align: center;
    margin: 0 auto;
  }

#ordem {
    text-align: center;
    color: beige;
}

#texto-01 {
    text-align:justify;
    width: 963px;

}
#atracoes-texto {
    text-align:justify;

}

.beautiful-lake-surrounded-by-mountains {
    background: #092268;
    width: 320px;
    height: 100px;
    padding-top: 20px;
    border:#092268;
    border-radius: 10px;
    color: aliceblue;
}
.plataforma {
    text-align: center; /* Centraliza os títulos e mapas na seção */
    background: #092268;
    width: 1100px;
    height: 600px;
    padding-top: 20px;
    border:#092268;
    border-radius: 10px;
    color: aliceblue;
}
.plataforma-1 {
    text-align: center; /* Centraliza os títulos e mapas na seção */
    background: #092268;
    width: 1100px;
    height: 400px;
    padding-top: 20px;
    border:#092268;
    border-radius: 10px;
    color: aliceblue;

}

.map-container {
    display: flex;
    justify-content: center; /* Centraliza os iframes horizontalmente */
    gap: 20px; /* Espaço entre os iframes */
    margin-top: 20px;
}
.map-container-2 {
    display: flex;
    justify-content: center; /* Centraliza os iframes horizontalmente */
    gap: 80px; /* Espaço entre os iframes */
    margin-top: 20px;
}
iframe {
    border: none; /* Remove bordas, opcional */
}
.BOTAO {
    background-color: #c22f3b;
    color: white;
    padding: 10px 20px;
    text-align: center;
    border: #c22f3b;
    border-radius: 8%;
}
.MAPA {
    text-align: center;
    justify-content: center;
}

.borda_Azul {
    border: 3px solid #092268;
}

.BotaoDestaque {
    text-align: center;
    margin-top: 50px;
}